<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV-E6jYXia5ftmUhV-WNQwugZ725dUW6I</string>
	<key>GCM_SENDER_ID</key>
	<string>174543887846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.netwealthVjti</string>
	<key>PROJECT_ID</key>
	<string>pawspartnersfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>pawspartnersfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174543887846:ios:64447b279a3e4615f64a27</string>
</dict>
</plist>